* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: auto;
}




/* ---------------Home Page---------------- */

.post {
  border: 2px solid red;
}

.post-title {
}

.post-content {
  border: 2px solid black;
}
