* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------- Fonts --------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

/* --------- Variables --------- */

:root {
  --bg-header: linear-gradient(to right, #79f1a4, #0e5cad);
  --color-header: #eeeeee;
  --hover: linear-gradient(to right, #fee140, #fa709a);
}

/* ----------------  Navbar ------------------ */

.glassmorphism-bg {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(81.55px);
  border: 2px solid rgba(255, 255, 255, 0.123);
  padding: 30px;
}

/* ------------Navbar-------------- */
.navbar-brand img {
  height: 50px !important;
  padding: 0 0 0 30px !important;
  mask-image: linear-gradient(rgba(255, 255, 255, 0.402));
}

.navbar-custom {
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(81.55px);
  border: 2px solid rgba(255, 255, 255, 0.123);
  text-align: center;
}

.navbar-text {
  color: white !important;
  font-size: 1rem !important;
  margin: 0 30px 0 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #777777;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

/* ------body----------- */

body {
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e29587,
    #d66d75
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e29587,
    #d66d75
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* -----------------home starting content-------------- */
.home-content {
  /* border: 2px solid green; */
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.home-starting-content {
  /* border: 2px solid greenyellow; */
  height: 50vh;
}

.all-blogs {
  font-size: 1.5rem;
  color: white;
}

/* --------------post------------------ */

.section-me {
  /* border: solid 2px white; */
  display: flex;
  justify-content: center;
}

.post {
  /* border: 2px solid black; */
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  /* width: 320px; */
}

.post-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.post-content {
  font-size: 1rem;
}

/* ----------post-bg----------- */

.post-bg {
  height: 100vh;
  width: 100vw;
}

.post-z {
  z-index: 100;
}

/* ----------about page---------- */
.bg-full {
  width: 100vw;
  height: 100vh;
}

/* ---------footer-------------- */
.footer {
  text-align: center;
}
